/*@import "../../_variables.scss";*/
.notifications img{
  width: 4rem !important;
}


.notifications {
  box-shadow: 0px 13px 21px 5px rgba(0, 0, 0, 0.3);
  border-width:  5px !important;

}


.notifications .fa-bell-o{
  font-size: 2rem;
}


