/*@import "../../_variables.scss";*/
.notifications img{
  width: 4rem !important;
}


.notifications {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-width:  5px !important;
  cursor: pointer;

}


.notifications .fa-bell-o{
  font-size: 2rem;
}


