<div class="header-container header">

    <div class="social">
        <a href="https://www.linkedin.com/company/crowd-market/" target="_blank"><span
                class="fa fa-linkedin"></span></a>
        <a href="https://www.facebook.com/Crowd-Market-103980351271988/" target="_blank"><span
                class="fa fa-facebook"></span></a>
        <a href="http://twitter.com/CrowdMarket1" target="_blank"> <span class="fa fa-twitter"></span></a>
        <a href="https://www.instagram.com/crowd_market/" target="_blank"> <span class="fa fa-instagram"></span></a>
    </div>

    <div class="row justify-content-end no-gutters flex-sm-column-reverse flex-lg-row">
        <div class="logo hide-md">
            <img src="assets/images/logo.png" alt="" width="100%">
        </div>
        <div class="col-lg-3">
            <div class="animation-text">
                <div class='content'>
                    <div class='visible'>
                        <ul>
                          <li>{{'_EatFresh' | translate}}</li>
                          <li>{{'_StayHealthy' | translate}}</li>
                          <li>{{'_BeHappy' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="contact bg-primary flex-lg-center d-flex justify-content-center">
                <div class="d-flex info-mobile">
                    <span> {{'_NextDayDeliveryInUAE' | translate}}</span>
                    <span class="mx-2 d-none-mobile">|</span>
                    <div class="d-flex align-items-center">
                        <span>{{'_KeepInTouch' | translate}}</span>
                        <span><a href="https://api.whatsapp.com/send?phone=971528132016" class="text-white"
                                 target="_blank"> <span class="fa fa-whatsapp mx-2"></span>971528132016</a></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-3">
            <div class="controls bg-secondary flex-lg-center text-center">
                <div class="accessibility text-white bg-secondary">
            <span *ngIf="_appService.currentLanguage == 'ar'"  (click)="_appService.switchLanguage('en')"><img class="lang-flag"  src="assets/images/en-flag.png"></span>
            <span *ngIf="_appService.currentLanguage == 'en'"  (click)="_appService.switchLanguage('ar')"><img class="lang-flag"  src="assets/images/ae-flag.png"></span>
        <span *ngIf="isLogin" class="profile-img position-relative">
                      <span>{{name}} <i class="fa fa-caret-down" aria-hidden="true"></i></span>
            <div class="account-list position-absolute border-0 py-3">
                                  <ul class="border  mx-2 p-0">
                                    <li><a class="" (click)="_appService.active = 1"
                                           routerLink="/account/profile">{{'_Profile' | translate | uppercase}}</a>
                                    <li><a class="" (click)="_appService.active = 2"
                                           routerLink="/account/orders">{{'_MyOrders' | translate | uppercase}}</a></li>
                                    <li><a class="" (click)="_appService.active = 3"
                                           routerLink="/account/favourites">{{'_MyFavourites' | translate | uppercase}}</a>
                                    </li>
                                      <!--              <li><a class="text-white"-->
                                      <!--                     routerLink="/account/banking-accounts">{{'_SavedCards' | translate | uppercase}}</a></li>-->
                                    <li><a class="" (click)="_appService.active = 4"
                                           routerLink="/account/address">{{'_MyAddress' | translate | uppercase}}</a></li>
                                    <li><a class="" (click)="logout()">{{'_Logout' | translate | uppercase}}</a></li>
                                  </ul>
              </div>
        </span>
                  <span routerLink="/login" *ngIf="!isLogin" class=""><i class="fa fa-user-o mx-1" aria-hidden="true" routerLink="/login" *ngIf="!isLogin"></i>
                    {{'_Login' | translate}}</span>


                   <span *ngIf="!isLogin" class="m-0" routerLink="/register">
                     <i class="fa fa-pencil-square-o mx-1" aria-hidden="true" routerLink="/register" *ngIf="!isLogin"></i>{{'_Register' | translate}}</span>


                    <span class="fa fa-shopping-basket position-relative" aria-hidden="true"
                          (click)=" _appService.showCart = !_appService.showCart">
                              <div class="position-absolute notification-count bg-primary rounded-circle  text-center" *ngIf="count > 0">{{count}}</div>

      </span>
                    <span class="fa fa-bell-o position-relative" aria-hidden="true" [routerLink]="isLogin? '/notifications' : '/login'">
                    <div class="position-absolute notification-count bg-primary rounded-circle text-logincenter" *ngIf="notificationCount > 0">{{notificationCount}}</div>

        </span>
                </div>

            </div>
        </div>
        <div class="col-sm-12 mt-3">
            <app-nav [categories]="categories"></app-nav>
        </div>
    </div>


</div>


<div class="sidebar-cart">
    <div id="sidebar-cart" [ngClass]="_appService.showCart? 'show-sidebar-cart': ''">
        <main>
            <a class="close-button" (click)=" _appService.showCart = !_appService.showCart"><span
                    class="close-icon">X</span></a>
            <h2 class="w-100">{{'_ShoppingBag' | translate}} <span class="count mx-1">{{count}}</span></h2>
            <div class="w-100 text-center py-5" *ngIf="orders.length == 0"> {{'_NoItems'| translate }}</div>
            <!--      <div class="w-100 text-center py-2 text-primary" *ngIf="count > 0 "><h3>{{orders[0].farmer_name }}</h3></div>-->
            <ul class="products scroll" *ngIf="count > 0 ">
                <li class="product border " *ngFor="let item of orders; let j = index">
                    <a class="product-link">
					<span class="product-image">
						<img [src]="restService.baseUrl + item.image" alt="Product Photo">
					</span>
                        <span class="product-details">
						<h3 class="text-left">{{item.product_name}}</h3>
						<span class="qty-price px-1">
							<span class="qty">
								<button class="minus-button" id="minus-button-1"
                                        (click)="updateQuantity($event.target  , j , 'minus' )">-</button>
								<input type="number" id="qty-input-1" class="qty-input" step="1" [min]="item.quantity_start" max="1000"
                                       name="qty-input"
                                       pattern="[0-9]*" title="Quantity" inputmode="numeric"
                                       [value]="item.order_quantity" disabled>
								<button class="plus-button" id="plus-button-1"
                                        (click)="updateQuantity($event.target  , j , 'add' )">+</button>
								<input type="hidden" name="item-price" id="item-price-1" [value]="item.order_quantity">
							</span>
							<span class="price">{{item.price}}</span>
						</span>
					</span>
                    </a>
                    <a class="remove-button" (click)="deleteOrder(item)"><span
                            class="remove-icon">X</span></a>
                </li>
            </ul>
            <div class="totals">
                <div class="subtotal">
                    <span class="label">{{'_SubTotal'| translate}}:</span> <span
                        class="amount">{{cost}} {{'_AED' | translate}}</span>
                </div>
                <div class="subtotal">
                    <span class="label">{{'_MINIMUMORDER'| translate}}:</span> <span
                        class="amount">{{_appService.minOrder}} {{'_AED' | translate}}</span>
                </div>
            </div>
            <div class="action-buttons text-center">
                <button class="btn btn-primary m-aouto text-white my-3 w-50"
                        (click)="checkAmount()">{{'_Checkout' | translate}}</button>
            </div>
        </main>
    </div>

    <div class="overlay" *ngIf="_appService.showCart" (click)=" _appService.showCart = !_appService.showCart"></div>
</div>

<div id="sidebar-cart-details" class="details-side-bar" [ngClass]="_appService.showDetails? 'show-sidebar-details': ''">
    <app-details></app-details>
  <span class="mobile-only close-details" (click)=" _appService.showDetails = !_appService.showDetails">x</span>
</div>
<div class="overlay" *ngIf="_appService.showDetails"
     (click)=" _appService.showDetails = !_appService.showDetails"></div>
