@import "../auth.component.scss";



@media (max-width: 425px) {

  ::ng-deep .authentication .mat-tab-label .mat-tab-label-content {
    font-size: 0.8rem;
  }
}

@media (max-width: 375px) {

  ::ng-deep .mat-checkbox-label ,  .forgot-password{
    font-size: 0.8rem;
  }
}


.time  {
  height: 2.5rem;
  background: white;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}
