<script src="login.component.ts"></script>
<div class="w-75 m-auto py-5 border border-light position-relative">
  <div class="login-logo bg-primary position-absolute rounded-circle text-center ">
    <i class="fa fa-user-o text-white"></i>
  </div>
  <mat-tab-group>
    <mat-tab label="{{'_IHaveAccount' | translate}}">
      <form name="loginForm" [formGroup]="loginForm" class="px-5 my-3">

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_YourEmail' | translate}}</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error >
            <div *ngIf="l.email.invalid && (l.email.dirty || l.email.touched)"
                 class="text-danger">
              <div *ngIf="l.email.errors.required">
                {{'_EmailRequired' | translate}}
              </div>
              <div *ngIf="l.email.errors.email">{{'_EmailNotValid' | translate}}</div>
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_Password' | translate}}</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error >
            {{'_PasswordRequired' | translate }}
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" class="submit-button w-100 mb-3 py-2 text-uppercase" aria-label="LOG IN" (click)="login()"
                [disabled]="loginForm.invalid">
          {{'_SignIn' | translate}}
        </button>
        <div class="remember-forgot-password"
        >
          <mat-checkbox class="remember-me float-left" aria-label="Remember Me">
            {{'_RememberMe' | translate }}
          </mat-checkbox>

          <a class="forgot-password float-right" routerLink="/forget-password">
            {{'_ForgetPassword' | translate}}
          </a>
        </div>
      </form>
      <div class="my-3 text-center m-auto">
        <p class="w-75 text-center border-bottom border-info "><span
          class=" px-1 text-secondary bg-white">{{'_OrUsing' | translate}}</span></p>
        <img src="assets/images/facebook.jpg" alt="" class="w-25 mx-1" (click)="signInWithFB()">
        <img src="assets/images/google.jpg" alt="" class="w-25 mx-1" (click)="signInWithGoogle()">
      </div>

    </mat-tab>
    <mat-tab label="{{'_NewAccount' | translate}}">
      <form [formGroup]="registerForm" class="px-5 my-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_YourFirstName' | translate}}</mat-label>
          <input matInput formControlName="first_name">
          <mat-error *ngIf="registerForm.get('first_name').hasError('required')">
            {{'_FirstNameRequired' |  translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_YourLastName' | translate}}</mat-label>
          <input matInput formControlName="last_name">
          <mat-error *ngIf="registerForm.get('last_name').hasError('required')">
            {{'_LastNameRequired' |  translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_YourEmail' | translate}}</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix class="secondary-text"> mail</mat-icon>
          <mat-error >
            <div *ngIf="r.email.invalid && (r.email.dirty || r.email.touched)"
                 class="text-danger">
              <div *ngIf="r.email.errors.required">
                {{'_EmailRequired' | translate}}
              </div>
              <div *ngIf="r.email.errors.email">{{'_EmailNotValid' | translate}}</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_MobileNumber' | translate}}</mat-label>
          <input matInput formControlName="phone" type="tel" minlength="10" maxlength="10" placeholder="Ex:05******">
          <mat-error >
            <div *ngIf=" r.phone.errors?.required ">{{'_PhoneRequired' | translate}}</div>
            <div *ngIf=" r.phone.errors?.minlength || r.phone.errors?.pattern">{{'_MobileNumberRequired' | translate}}</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_Password' | translate}}</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            <div *ngIf="r.password.invalid && (r.password.dirty ||r.password.touched)"
                         class="text-danger">
              <div *ngIf="r.password.errors.required">
                {{'_PasswordRequired' | translate}}
              </div>
              <div
                *ngIf="r.password.errors.minlength || r.password.errors.maxLength"> {{'_PasswordValidation' | translate}}</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_ConfirmPassword' | translate}}</mat-label>
          <input matInput type="password" formControlName="ConfirmPassword">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            <div *ngIf="r.ConfirmPassword.invalid && (r.ConfirmPassword.dirty || r.ConfirmPassword.touched)"
                 class="text-danger">
              <div *ngIf="r.ConfirmPassword.errors.required">
                {{'_ConfirmPasswordRequired' | translate}}
              </div>
              <div *ngIf="r.ConfirmPassword.errors.mustMatch"> {{'_PasswordMustMutch' | translate}}</div>
            </div>
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password">
          <mat-checkbox class="remember-me float-left w-100" aria-label="Remember Me" formControlName="acceptTerms">
            {{'_IagreeTo' | translate}} <a class="text-primary">{{'_TermOfService' | translate}} </a> & <a class="text-primary">{{'_PrivacyPolicy' | translate}}</a>
          </mat-checkbox>
          <mat-error>
          <div *ngIf="r.acceptTerms.invalid && (r.acceptTerms.dirty || r.acceptTerms.touched)"
               class="text-danger">
            <div *ngIf="r.acceptTerms.errors.required">
              {{'_AgreeCondition' | translate}}
            </div>
          </div>
          </mat-error>
        </div>
        <button mat-raised-button color="accent" class="submit-button w-100 my-3 py-2 text-uppercase" aria-label="LOG IN" (click)="Register()"
                [disabled]="registerForm.invalid">
          {{'_SignUp' | translate}}
        </button>
      </form>
      <div class="my-3 text-center m-auto">
        <p class="w-75 text-center border-bottom border-info "><span
          class=" px-1 text-secondary bg-white">{{'_OrUsing' | translate}}</span></p>
        <img src="assets/images/facebook.jpg" alt="" class="w-25 mx-1" (click)="signInWithGoogle()">
        <img src="assets/images/google.jpg" alt="" class="w-25 mx-1" (click)="signInWithGoogle()">
      </div>

    </mat-tab>
    <mat-tab label="{{'_NewServiceProviderAccount' | translate}}">
      <form [formGroup]="kitchenForm" class="px-5 my-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_YourFirstName' | translate}}</mat-label>
          <input matInput formControlName="first_name">
          <mat-error *ngIf="registerForm.get('first_name').hasError('required')">
            {{'_FirstNameRequired' |  translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_YourLastName' | translate}}</mat-label>
          <input matInput formControlName="last_name">
          <mat-error *ngIf="registerForm.get('last_name').hasError('required')">
            {{'_LastNameRequired' |  translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_YourEmail' | translate}}</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix class="secondary-text"> mail</mat-icon>
          <mat-error >
            <div *ngIf="r.email.invalid && (r.email.dirty || r.email.touched)"
                 class="text-danger">
              <div *ngIf="r.email.errors.required">
                {{'_EmailRequired' | translate}}
              </div>
              <div *ngIf="r.email.errors.email">{{'_EmailNotValid' | translate}}</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_MobileNumber' | translate}}</mat-label>
          <input matInput formControlName="phone" type="tel" minlength="10" maxlength="10" placeholder="Ex:05******">
          <mat-error >
            <div *ngIf=" r.phone.errors?.required ">{{'_PhoneRequired' | translate}}</div>
            <div *ngIf=" r.phone.errors?.minlength || r.phone.errors?.pattern">{{'_MobileNumberRequired' | translate}}</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_Password' | translate}}</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            <div *ngIf="r.password.invalid && (r.password.dirty ||r.password.touched)"
                 class="text-danger">
              <div *ngIf="r.password.errors.required">
                {{'_PasswordRequired' | translate}}
              </div>
              <div
                *ngIf="r.password.errors.minlength || r.password.errors.maxLength"> {{'_PasswordValidation' | translate}}</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'_ConfirmPassword' | translate}}</mat-label>
          <input matInput type="password" formControlName="ConfirmPassword">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            <div *ngIf="r.ConfirmPassword.invalid && (r.ConfirmPassword.dirty || r.ConfirmPassword.touched)"
                 class="text-danger">
              <div *ngIf="r.ConfirmPassword.errors.required">
                {{'_ConfirmPasswordRequired' | translate}}
              </div>
              <div *ngIf="r.ConfirmPassword.errors.mustMatch"> {{'_PasswordMustMutch' | translate}}</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'_KitchenTitleEnglish' | translate}}</mat-label>
          <input formControlName="name_en" #name_en matInput maxlength="30">
          <mat-hint align="end">{{name_en.value.length}} / 30</mat-hint>
          <mat-error>
            {{'_EnglishTitleRequired' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'_KitchenTitleArabic' | translate}}</mat-label>
          <input formControlName="name_ar" #name_ar matInput maxlength="30">
          <mat-hint align="end">{{name_ar.value.length}} / 30</mat-hint>
          <mat-error>
            {{'_ArabicTitleRequired' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> {{'_KitchenDescEnglish' | translate}}</mat-label>
          <textarea formControlName="description_en" matInput #desc_en minlength="200" rows="5"
                    placeholder="{{'_Minimum200Characters' | translate}}"></textarea>
          <mat-hint align="end">{{desc_en.value.length}} </mat-hint>
          <mat-error *ngIf="desc_en.value.length <= 0">
            {{'_KitchenDescEnglishRequired' | translate}}
          </mat-error>
          <mat-error *ngIf="desc_en.value.length < 200 && desc_en.value.length > 0">

            {{'_PleaseEnterUpTo' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'_KitchenDescArabic' | translate}}</mat-label>
          <textarea formControlName="description_ar" matInput #desc_ar minlength="200" rows="5"
                    placeholder="{{'_Minimum200Characters' | translate}}"></textarea>
          <mat-hint align="end">{{desc_ar.value.length}}</mat-hint>

          <mat-error *ngIf="desc_ar.value.length <= 0">
            {{'_KitchenDescArabicRequired' | translate}}
          </mat-error>
          <mat-error *ngIf="desc_ar.value.length < 200 && desc_ar.value.length > 0">
            {{'_PleaseEnterUpTo' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 category">
          <input type="text" placeholder="{{'_SelectCategory' | translate}}" [matAutocomplete]="auto"
                 formControlName="category" matInput
                 class="form-control  " (keyup)="filter()">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option class="text-uppercase" *ngFor="let item of categories" [value]="appService.currentLanguage == 'ar' ? item.name_en : item.name_en"
                        (onSelectionChange)="getCategoryID(item.name)">
             <span *ngIf="appService.currentLanguage == 'ar'">{{item.name_ar}}</span>
             <span *ngIf="appService.currentLanguage == 'en'">{{item.name_en}}</span>
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
        <div *ngIf="f.category.invalid && (f.category.dirty || f.category.touched) && f.category.errors?.required"
             class="text-danger" >
          {{'_CategoryRequired' | translate}}
        </div>

        <div class="px-1 py-2 ">
          {{'_StartTime' | translate}}
          <input [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"  disabled (dateTimeChange)="changeTime($event , 'start')"
                 formControlName="start_time" class="time px-2 mx-2" >
          <owl-date-time [pickerType]="'timer'" [hour12Timer]="false" #dt4></owl-date-time>
          <div *ngIf="f.start_time.invalid && (f.start_time.dirty || f.start_time.touched) && f.start_time.errors?.required"
               class="text-danger" >
            {{'StartTimeRequired' | translate}}
          </div>
        </div>
        <div class="px-1 py-2 ">
          {{'_EndTime' | translate}}
          <input [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"  disabled (dateTimeChange)="changeTime($event , 'end')"
                 formControlName="end_time" class="time px-2 mx-2" >
          <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
          <div *ngIf="f.end_time.invalid && (f.end_time.dirty || f.end_time.touched) && f.end_time.errors?.required"
               class="text-danger" >
            {{'EndTimeRequired' | translate}}
          </div>
        </div>
        <div class="map mb-5 address mt-3">
          <div fxFlex fxFlexAlign="center"
               class="autocomplete-container w-100-p">
            <mat-google-maps-autocomplete [appearance]="appearance.OUTLINE" placeholderText="{{'_PleaseEnterAddress'| translate}}"
                                          (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                          (onLocationSelected)="onLocationSelected($event)">
            </mat-google-maps-autocomplete>
          </div>
          <div class="mb-16" *ngIf="f.location.value">{{f.location.value}}</div>
          <div fxFlex>
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </div>
        </div>
        <div class=" ">
          <mat-slide-toggle formControlName="is_delivery"> {{'_HoldDelivery' | translate}}</mat-slide-toggle>

        </div>
        <div class="upload-file form-group my-3">
          <div> {{'_UploadOwnerImage' | translate}}</div>
          <div class="form-group my-2">
            <button (click)="openDialog('profile')" class="btn btn-secondary" name="image">{{'_UploadImage' | translate}}</button>
          </div>

          <div class=" ">
            <img [src]="restService.baseUrl + f.profile.value" alt="">
          </div>
        </div>
        <div class="upload-file form-group my-3">
          <div><span class="required-star">*</span> {{'_UploadKitchenImage' | translate}}</div>
          <div class="form-group my-2">
            <button (click)="openDialog('kitchen')" class="btn btn-secondary" name="image">{{'_UploadImage' | translate}}</button>
          </div>

          <div class=" ">
            <img [src]="restService.baseUrl + f.image.value" alt="">
          </div>
        </div>
        <div class="remember-forgot-password">
          <mat-checkbox class="remember-me float-left w-100" aria-label="Remember Me" formControlName="acceptTerms">
            {{'_IagreeTo' | translate}} <a class="text-primary">{{'_TermOfService' | translate}} </a> & <a class="text-primary">{{'_PrivacyPolicy' | translate}}</a>
          </mat-checkbox>
          <mat-error>
            <div *ngIf="r.acceptTerms.invalid && (r.acceptTerms.dirty || r.acceptTerms.touched)"
                 class="text-danger">
              <div *ngIf="r.acceptTerms.errors.required">
                {{'_AgreeCondition' | translate}}
              </div>
            </div>
          </mat-error>
        </div>
        <button mat-raised-button color="accent" class="submit-button w-100 my-3 py-2 text-uppercase" aria-label="LOG IN" (click)="RegisterSP()"
                [disabled]="kitchenForm.invalid">
          {{'_SignUp' | translate}}
        </button>
      </form>
    </mat-tab>

  </mat-tab-group>
</div>
