<!--<app-homepage-slider [banner]="banners" ></app-homepage-slider>-->
<div class="container" [dir]="lang">
  <div class="row my-5 justify-content-center">
    <div class="col-md-6">
      <div class="m-auto py-5 border border-25 bg-light position-relative ">
        <form name="loginForm" [formGroup]="loginForm" class="px-5 ">
          <div class="text-center"><h1>{{'_SignIn'| translate}}</h1></div>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'_YourEmail' | translate}}</mat-label>
            <input matInput formControlName="email">
            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
            <mat-error>
              <div *ngIf="l.email.invalid && (l.email.dirty || l.email.touched)"
                   class="text-danger">
                <div *ngIf="l.email.errors.required">
                  {{'_EmailRequired' | translate}}
                </div>
                <div *ngIf="l.email.errors.email">{{'_EmailNotValid' | translate}}</div>
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'_Password' | translate}}</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error>
              {{'_PasswordRequired' | translate }}
            </mat-error>
          </mat-form-field>

          <div class="remember-forgot-password d-flex justify-content-between"
          >
            <mat-checkbox class="remember-me " aria-label="Remember Me">
              {{'_RememberMe' | translate }}
            </mat-checkbox>

            <a class="forgot-password " routerLink="/forget-password">
              {{'_ForgetPassword' | translate}}
            </a>
          </div>
          <button mat-raised-button color="accent" class="btn btn-primary w-100 mb-3 py-2 text-uppercase"
                  aria-label="LOG IN" (click)="login()"
                  [disabled]="loginForm.invalid">
            {{'_SignIn' | translate}}
          </button>
          <div class="text-primary text-center"><a routerLink="/register">{{'_CreateNewAccount' | translate}}</a></div>
        </form>
<!--        <app-social-integration></app-social-integration>-->

      </div>
    </div>
  </div>
</div>
