@import "./../auth/auth.component.scss";
.font-2{
  font-size: 0.8rem;
}

.address-info{
  border-right: 2px solid $primary;
}

::ng-deep .paypal-button-number-1 {
  display: none !important;
}

.checkout p{
  line-height: 1em;
}



