<div class="main" [style.background-color]="background? '#fff' : '#e8e9dd'">
  <div class="position-relative curved" [style.background-color]="background? '#e8e9dd' : '#fff'">

    <div class="container">
      <div class="position-relative mx-5 mt-3 mb-4" style="cursor: pointer"
           [routerLink]="'/products/' + data.category_id">
        <img class="c-title" *ngIf="_appService.currentLanguage == 'en'"
             src="assets/images/sheet/c-title-en.png" alt="">
        <img class="c-title" *ngIf="_appService.currentLanguage == 'ar'"
             src="assets/images/sheet/c-title-ar.png" alt="">
        <h4 class="text-primary">{{data?.name}}</h4>
      </div>

      <ngu-carousel #myCarousel
                    [inputs]="carouselOptions" [dataSource]="data.Products">
        <ngu-item *nguCarouselDef="let item" NguCarouselItem (click)="_appService.getDetails(item)"
                  style="cursor: pointer">
          <div class="product-img position-relative d-inline-block" (click)=" _appService.showDetails = !_appService.showDetails ;">
            <div (click)="favourite(item)" class="fav position-absolute"><i
              [ngClass]="item?.Favourite?.favourite_id ? 'text-secondary' : ''"
              aria-hidden="true" class="fa fa-heart"></i></div>
            <div class="organic position-absolute" *ngIf="item.type == 1">
              <span class="mx-2 text-white text-uppercase">{{'_Organic' | translate}}</span>
            </div>
            <div class="off position-absolute d-flex align-items-center justify-content-center"
                 *ngIf="item.discount == 1">
              <p class="m-0">{{((item.price - item.new_price) / item.price) * 100}}  %</p>
              <span>{{'_Off' | translate}}</span>
              <img src="assets/images/sheet/off.png" alt="">
            </div>
            <div class="item">
              <img [src]="restService.baseUrl + item?.image " alt="">
            </div>
          </div>
          <div class="description">
            <p class="font-weight-bold" (click)=" _appService.showDetails = !_appService.showDetails">{{item?.name}}</p>
            <div class="d-flex justify-content-start">
              <div class="country mr-2">
                <img [src]="restService.baseUrl + item?.Country?.image" alt="">
                <span class="mx-1">{{item?.Country?.name}}</span>
              </div>
                <div class=" text-center   ">
                                                          <i [ngClass]="(item.final_rate > 0)? 'text-primary' : 'text-light' "
                                                             class="fa fa-star mr-1"></i>
                                                          <i [ngClass]="(item.final_rate > 1 )? 'text-primary' : 'text-light' "
                                                             class="fa fa-star mr-1"></i>
                                                          <i [ngClass]="( item.final_rate >2)? 'text-primary' : 'text-light' "
                                                             class="fa fa-star mr-1"></i>
                                                          <i [ngClass]="( item.final_rate > 3)? 'text-primary' : 'text-light' "
                                                             class="fa fa-star mr-1"></i>
                                                          <i [ngClass]="(item.final_rate > 4)? 'text-primary' : 'text-light' "
                                                             class="fa fa-star mr-1"></i>
                                                      </div>

            </div>
            <p *ngIf="item.discount == 0"
               (click)=" _appService.showDetails = !_appService.showDetails"> {{item.price}} {{'_AED' | translate}}
              / {{item.quantity}}{{item.Unit?.name}}</p>
            <p *ngIf="item.discount == 1"><span
              class="mr-3 text-decoration-through">{{item.price}}</span><span>{{item.new_price}} {{'_AED' | translate}}
              /{{item.quantity}}{{item.Unit?.name}}</span></p>
            <div class="d-flex mt-1">
              <div class="mx-1 my-auto add-button  rounded-circle  text-secondary text-center"
                   (click)="increaseQuantity(item)">+
              </div>
              <div class="mx-1 my-auto add-button   rounded-circle  text-secondary text-center"
                   (click)="decreaseQuantity(item)">-
              </div>
              <div class="mx-1 w-50 d-flex"><input
                [style.background-color]="background ? '#fff' : '#e8e9dd'"
                type="number"
                class="border-45 border border-white px-2"
                [value]="item.order_quantity? item.order_quantity : 1"
                (change)="updateQuantity(item , $event.target.value )">
                <button class="btn btn-primary border-45 ml-n4 text-white"
                        (click)="restService.addToCart(item);_appService.showCart = true; item.order_quantity = 1">{{'_Add' | translate}}</button>
              </div>
            </div>
          </div>
        </ngu-item>
        <button NguCarouselNext #nextBtn class="d-none"></button>
      </ngu-carousel>

    </div>
    <button NguCarouselNext type="button" class="carousel-right fa fa-chevron-right next-btn"
            *ngIf="_appService.currentLanguage == 'en'" (click)="nextBtn.click()"
            [style.background-image]="'url(assets/images/sheet/bg-right-arrow.png)'">
    </button>
  </div>
</div>

