<app-homepage-slider [banner]="banners" (search)="search($event)"></app-homepage-slider>
<div class="container">
  <div class="row my-5">
    <div class="col-md-12">
      <div class="w-50  m-auto py-5 border border-light bg-light position-relative">
        <div class="text-center"><h4 class="mb-5">{{'_ForgetPassword'| translate}}</h4></div>

        <form name="loginForm" [formGroup]="forgetForm" class="px-5 my-3">
          <h6 class="text-left text-secondary ">{{'_PleaseEnterYourEmail' | translate}}</h6>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'_YourEmail' | translate}}</mat-label>
            <input matInput formControlName="email">
            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
            <mat-error>
              <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                   class="text-danger">
                <div *ngIf="f.email.errors.required">
                  {{'_EmailRequired' | translate}}
                </div>
                <div *ngIf="f.email.errors.email">{{'_EmailNotValid' | translate}}</div>

              </div>
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="accent" class="btn btn-primary w-100 mb-3 py-2" aria-label="LOG IN"
                  (click)="onSubmit()"
                  [disabled]="forgetForm.invalid">
            {{'_Send' | translate}}
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
