<app-homepage-slider [banner]="banners" (search)="search($event)"></app-homepage-slider>
<div class="container my-5 ">
    <div class="row">
        <div class="col-md-12 border-45 my-5">
            <div class=""><h2 class="text-primary ml-5">{{details?.title}}</h2></div>
            <div class="w-100 bg-white my-5 border border-45 border-primary farmer-details">
                <mat-tab-group>
                    <mat-tab label="{{'_About' | translate}}">
                        <div class="row  px-5 pb-4">
                            <div class="col-md-12 mt-4 about">
                                <div class="w-100 py-4 ">
                                    {{details?.description}}
                                </div>
                            </div>
                            <div class="d-flex justify-content-between w-100 mt-5">
                                <div class="my-auto"><a (click)="appSevice.farmer_id = details.farmer_id"
                                                        routerLink="/products">{{'_GoTo' | translate}} {{details?.title}} {{'_Products' | translate}}</a>
                                </div>
                                <div class="social-container d-flex justify-content-end  ">
                                    <h5 class="text-uppercase m-3 font-weight-normal">{{'_Share' | translate}}</h5>
                                    <ul class="social-icons">
                                        <li>
                                            <button shareButton="facebook"><i class="fa fa-facebook"></i></button>
                                        </li>
                                        <li>
                                            <button shareButton="twitter"><i class="fa fa-twitter"></i></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{'_Reviews' | translate}}" [ngClass]="active? '': 'test'">
                        <div class="row  menu px-5 pb-4">
                            <div class="col-md-12 mt-4 ">
                                <div class="d-flex justify-content-md-between flex-wrap">
                                    <div><h5 class="font-weight-normal">{{details?.title}} {{'_Reviews' | translate}}
                                        ({{details?.Reviews?.count}})</h5></div>
                                    <div class="mx-1">
                                        <h5 class="font-weight-normal">
                                            {{details?.final_rate}}
                                            <i [ngClass]="(details?.final_rate > 0 )? 'text-primary' : 'text-light' "
                                               class="fa fa-star mr-1"></i>
                                            <i [ngClass]="(details?.final_rate > 1 )? 'text-primary' : 'text-light' "
                                               class="fa fa-star mr-1"></i>
                                            <i [ngClass]="( details?.final_rate > 2)? 'text-primary' : 'text-light' "
                                               class="fa fa-star mr-1"></i>
                                            <i [ngClass]="( details?.final_rate > 3)? 'text-primary' : 'text-light' "
                                               class="fa fa-star mr-1"></i>
                                            <i [ngClass]="(details?.final_rate > 4)? 'text-primary' : 'text-light' "
                                               class="fa fa-star mr-1"></i>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 comment  border pt-2 mb-3 pb-4"
                                 *ngFor="let item of details?.Reviews?.reviews">
                                <div class="w-100 d-flex justify-content-md-between flex-wrap ">
                                    <div>
                                        <i class="fa fa-star mr-1" [ngClass]="(item?.final_rate >
                  0)? 'text-primary' : 'text-light' "></i>
                                        <i [ngClass]="(item?.final_rate > 1 )? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="( item?.final_rate > 2)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="( item?.final_rate > 3)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i class="fa fa-star mr-1"
                                           [ngClass]="(item?.final_rate > 4)? 'text-primary' : 'text-light' "></i>
                                        <span> {{item.user?.first_name}} {{item.user?.last_name}}</span>
                                    </div>
                                    <div>{{item.date | date: 'MMM d, y'}}</div>
                                </div>
                                <div class="w-100 mt-1">
                                    {{item.comment}}
                                </div>
                            </div>

                            <div class="col-md-12 comment border py-3 mb-3 ">
                                <div class="w-100 d-flex justify-content-md-between flex-wrap reviews">
                                    <div class=" text-center w-25 my-2 border-right">
                                        {{details?.value_rate}}
                                        <i [ngClass]="(details?.value_rate > 0)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="(details?.value_rate > 1 )? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="( details?.value_rate >2)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="( details?.value_rate > 3)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="(details?.value_rate > 4)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <br>
                                        <span> {{'_ValueForMoney' | translate}}</span>
                                    </div>
                                    <div class=" text-center w-25 my-2 border-right">
                                        {{details?.delivery_rate}}
                                        <i [ngClass]="(details?.delivery_rate > 0)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="(details?.delivery_rate > 1 )? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="( details?.delivery_rate > 2)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="( details?.delivery_rate > 3)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="(details?.delivery_rate > 4)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i><br>
                                        <span> {{'_DeliveryTime' | translate}}</span>
                                    </div>
                                    <div class=" text-center w-25 my-2 ">
                                        {{details?.quality_rate}}
                                        <i [ngClass]="(details?.quality_rate > 0)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="(details?.quality_rate > 1 )? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="( details?.quality_rate > 2)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="( details?.quality_rate > 3)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i>
                                        <i [ngClass]="(details?.quality_rate > 4)? 'text-primary' : 'text-light' "
                                           class="fa fa-star mr-1"></i><br>
                                        <span>{{'_QualityFood' | translate}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>

</div>
