@import "../../../_variables";

.main-slider {

  ::ng-deep .carousel-indicators {
    background-image: url("../../../assets/images/sheet/ind-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 80px;
    width: 80%;
    margin: auto;
    margin-right: 0;
  }

  img , video {
    //max-height: 500px;
    object-fit: cover;
    width: 100%;
  }

}

.left-slider {
  display: block;
  left: 0;
  z-index: 9;
  bottom: 0;
  top: 0;
  width: auto !important;
  position: absolute;
}

.search{
  right: 0;
  z-index: 2;
  top: 41%;

}


.slider-content{
  top:34%;
  left:40%
}

.bar img{
  height: 2rem;
  object-fit: contain;
}

.banner video , .banner img{
  max-height: 35rem !important;
}
