@import "../../../_variables";

.main-slider {

  ::ng-deep .carousel-indicators {
    background-image: url("/assets/images/sheet/ind-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 80px;
    width: 80%;
    margin: auto;
    margin-right: 0;
  }

  img , video {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
  }

}

.left-slider {
  display: block;
  left: 0;
  z-index: 9;
  bottom: 0;
  top: 0;
  width: auto !important;
  position: absolute;
}

.search{
  right: 0;
  z-index: 2;
  top: 25%;

}

.search-section {
  box-shadow: 6px -3px 9px 0px #615d5d;
  border: 1px solid $primary;
  width: 300px;
}

.slider-content{
  top:34%;
  left:40%
}

.bar img{
  height: 2rem;
}

.dark-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}

