<div class="position-relative banner">
  <div class="position-absolute search border-45 w-100 text-center ">
    <div class=" text-white  w-75 m-auto" *ngIf="banner.length == 1 && url != '/home'"><h1 class="mb-3 text-uppercase">{{banner[0]?.description}}</h1></div>
    <div>
    </div>
  </div>
  <mdb-carousel class="main-slider carousel slide carousel-fade " [isControls]="true" [noWrap]="false"
                [noPause]="false"
                [animation]="'fade'">

    <img src="assets/images/sheet/slider-left.png" class="left-slider d-none-mobile" alt="">
    <mdb-carousel-item class="position-relative dark-img" *ngFor="let item of banner">
      <img [src]="restService.baseUrl + item?.image" alt="" *ngIf="item.type != 2">
      <video  autoplay *ngIf="item.type == 2">
        <source [src]="restService.baseUrl + item.image" type="video/mp4">
      </video>
    </mdb-carousel-item>
  </mdb-carousel>
  <!--<div class="w-100 text-right bar"  *ngIf="banner.length == 1">-->
    <!--<img src="assets/images/sheet/bar.png" alt="" class="w-50"-->
    <!--&gt;</div>-->

</div>

