<div class="container">
    <div class="row">
        <div class="col-md-12 text-center my-5">
            <h3>Your order was</h3>
            <h2 class="text-center text-primary">Completed Successfully</h2>
            <img src="assets/images/Thankfull.JPG" alt="">
            <p>We have sent email include details about your order</p>
            <p>You can visit <a routerLink="/account/orders" class="text-primary font-weight-bold">My Account</a> page at any time to check the status of your order</p>
        </div>
    </div>
</div>
