<div class=" order-details text-left" [dir]="lang" >
  <div class="w-100">
    <div class="border-bottom text-primary d-flex justify-content-between">
      <div><h5>{{'_OrderDetails' | translate}}</h5></div>
      <div>
        <span class="mx-2 pending font-weight-bold" *ngIf="data.status ==  0">{{'_Pending' | translate}}</span>
        <span class="mx-2 preparing font-weight-bold" *ngIf="data.status ==  1">{{'_Preparing' | translate}}</span>
        <span class="mx-2 completed font-weight-bold" *ngIf="data.status ==  2">{{'_Completed' | translate}}</span>
        <span class="mx-2 canceled font-weight-bold" *ngIf="data.status ==  3">{{'_Canceled' | translate}}</span>
      </div>
    </div>
  </div>
  <div class="w-auto d-flex justify-content-between flex-wrap">
    <div class="w-50 py-1">
      {{'_OrderID' | translate}}
    </div>
    <div class="w-50 py-1">
      {{data.order_id}}
    </div>
    <div class="w-50 py-1">
      {{'_OrderTime' | translate}}
    </div>
    <div class="w-50 py-1">
      {{data.date | date:'M/d/yy, h:mm a' }}
    </div>
    <div class="w-50 py-1">
      {{'_PaymentMethod' | translate}}
    </div>
    <div class="w-50 py-1">
      cash
    </div>
    <div class="w-50 py-1">
      {{'_Address' | translate}}:
    </div>
    <div class="w-50 py-1">
      {{data.address?.city?.name}} , {{data.address.area}} , {{data.address.street}}
      , {{data.address.building}} {{'_Building' | translate}} ,
      <br>{{data.address.floor}} {{'_Floor'| translate}}
      ,{{data.address.apartment}} {{'_Appartment'| translate}}</div>
    <div class="w-50 py-1">
      {{'_Mobile' | translate}}:
    </div>
    <div class="w-50 py-1">
      {{data.address.phone}}
    </div>
    <div class="w-50 py-1" *ngIf="data.address.landline">
      {{'_Landline' | translate}}:
    </div>
    <div class="w-50 py-1" *ngIf="data.address.landline">
      {{data.address.landline}}
    </div>
  </div>

  <div class="row px-3">
    <div class="w-100"><h6 class="mt-3">{{'_Products' | translate}}</h6></div>
    <div class="w-100">
      <ul class="border-bottom">
        <li *ngFor="let sub of data.crowdmarket_sub_orders">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="w-50 py-1">{{sub.product?.name}}</div>
            <div class="w-25 py-1 d-flex"><span > {{sub?.quantity}} </span> <span class="mx-1"> x </span>  <span> {{sub.product?.price}}  </span></div>
            <div class="w-25 py-1">{{sub?.quantity * sub.product?.price}} {{'_AED' | translate}}</div>
          </div>
        </li>

      </ul>
      <div class="d-flex justify-content-between flex-wrap py-2">
        <div class="w-50 py-1"></div>
        <div class="font-2 w-25">{{'_SubTotal'| translate}}</div>
        <div class="font-2 w-25">{{data?.subtotal}}{{'_AED' | translate}}</div>
      </div>
      <div class="d-flex justify-content-between flex-wrap py-2" *ngIf="data?.discount">
        <div class="w-50 py-1"></div>
        <div class="font-2 w-25">{{'_Discount'| translate}}</div>
        <div class="font-2 w-25">{{data?.discount}}{{'_AED' | translate}}</div>
      </div>
      <div class="d-flex justify-content-between flex-wrap py-2">
        <div class="w-50 py-1"></div>
        <div class="font-2 w-25">{{'_Tax'| translate}}</div>
        <div class="font-2 w-25">{{data.tax}}{{'_AED' | translate}}</div>
      </div>
      <div class="d-flex justify-content-between flex-wrap py-2">
        <div class="w-50 py-1"></div>
        <div class="font-2 w-25">{{'_ServiceCharge'| translate}}</div>
        <div class="font-2 w-25">{{data.delivery_charges}}{{'_AED' | translate}}</div>
      </div>

      <div class="d-flex justify-content-between flex-wrap py-2">
        <div class="w-50 py-1"></div>

        <div class="font-2 w-25">{{'_Total'| translate}}</div>
        <div class="font-2 w-25">{{data?.total_price}}{{'_AED' | translate}}</div>
      </div>
    </div>
  </div>

</div>
