<div class="container-fluid  authentication">
  <div class="row">
    <div class="col-md-12 bg-secondary py-5 text-center position-relative">
      <h2 class="text-uppercase text-white ">{{'_AccountSetup' | translate}}</h2>
      <div class=" col-md-12 stepper sticker  mt-n2 position-absolute">
        <div class="w-25 bg-info float-right"></div>
      </div>
    </div>
  </div>

  <div class="row bg-light py-5">
    <div class="col-md-6 m-auto py-5 bg-white">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
