@import "../../_variables.scss";


.ml-20{
  margin-left: 20rem;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: white !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: white !important;
}


::ng-deep .mat-form-field-outline.mat-form-field-outline-thick.ng-tns-c6-0.ng-star-inserted {
  background: white !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  opacity: 1 !important;
  background: white !important;
}


::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline, .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline {
  opacity: 1 !important;
  transition: opacity .1s cubic-bezier(.25,.8,.25,1);
}

::ng-deep mat-form-field{
  opacity: 1 !important;

}


agm-map {
  height: 400px;
}

.autocomplete-container {
  padding: 1rem 0 1rem 0;
  width: 50%;
}


::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: white !important;
}

button{
  font-size: 0.8rem !important;
}


::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $primary;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  background: $primary ;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $primary;
}
