@import "../../_variables.scss";


.ml-20{
  margin-left: 20rem;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: white !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: white !important;
}


::ng-deep .mat-form-field-outline.mat-form-field-outline-thick.ng-tns-c6-0.ng-star-inserted {
  background: white !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  opacity: 1 !important;
  background: white !important;
}


::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline, .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline {
  opacity: 1 !important;
  transition: opacity .1s cubic-bezier(.25,.8,.25,1);
}

::ng-deep mat-form-field{
  opacity: 1 !important;

}


agm-map {
  height: 400px;
}

.autocomplete-container {
  padding: 1rem 0 1rem 0;
  width: 50%;
}


::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: white !important;
}

button{
  font-size: 0.8rem !important;
}


::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $primary;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  background: $primary ;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $primary;
}





///////////////////////////////////


.border-45{
  border-radius: 45px;
}

.gary-color{
  background: #e3dcdc ;

}

.gray-light{
  background: #eee6e6;
}



.raduis-top{
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
}

.raduis-bottom{
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
}



//////////////////////////////////

::ng-deep {
  .carousel-control-next, .carousel-control-prev {
    display: none !important;
  }
}


.next-btn {
  position: absolute;
  right: 0;
  top: 40%;
  bottom: 40%;
  padding: 15px;
  width: 100px;
  font-size: 1.8em;
  color: #fff;
  border: 0;
  height: 100px;
  display: block;
  text-align: right;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.product-img .item img {
  transform: skew(-20deg);
  border-radius: 30px;
  box-shadow: 7px 10px 1px $primary;
  height: 175px;
  width: 250px;
}



.product-details .description input{
  width: 6rem;
  height: 2rem;
}



.product-details .description input {
  width: 6rem;
  height: 2.3rem;
}
.product-details .add-button {
  width: 2rem;
  height: 2rem;
  border: 2px solid #fc020c;
  padding: 2px;
}

.product-details .description p {
  font-size: 1.3rem;
}

.product-details .description span {
  font-size: 1.2em;
}

.information{
  width: 30rem;
}

.information p{
  font-size: 1.1rem !important;
}

.curved {
  border-bottom-left-radius: 85px;
  padding: 25px 0;
}

.carousel {
  width: 90%;
  margin: auto;
}

.c-title {
  left: -15px;
  position: absolute;
  width: 30px;
  bottom: -10px;
}

.organic {
  left: 5px;
  border-width: 1em 0 0 1em;
  background-color: red;
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
  z-index: 10;
  top: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 5px;
}

.organic:before, .organic:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #800400 transparent transparent transparent;
  bottom: -1em;
  left: 0;
  border-width: 1em 0 0 1em;
}

.off {
  @include right(25px);
  z-index: 10;
  width: 45px;
  top: 10px;

  img {
    width: 100%;
  }

  p {
    position: absolute;
    color: yellow;
    font-weight: 600;
    font-size: 0.9em;
    top: 7px;
  }

  span {
    color: #fff;
    font-size: 0.600em;
    position: absolute;
    bottom: 5px;
  }
}


.description {
  margin-top: 15px;

  p {
    margin: 0;
    font-weight: 800;
  }

  span {
    font-size: 1em;
  }
}


.add-button{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: 2px solid $secondary;

}

.description input{
  width: 6rem;
  background: #e8e9dd;
}


.apply-filter{
  font-size: 1rem !important;
}

::ng-deep option:hover{
  background: $primary !important;
}

.products .off {
  right: -50px !important;
}

//.fixed{
//  position: fixed;
//  top: 1rem;
//  left: 23.5rem;
//  width: 19rem;
//}


.sidebar-item {

  width: 100%;
  height: 100%;

  /* Position the items */
  // &:nth-child(2) { top: 25%; }
  // &:nth-child(3) { top: 50%; }
  // &:nth-child(4) { top: 75%; }
}

//
//.filter {
//  position: -webkit-sticky;
//  position: sticky;
//  top: 0;
//  padding: 0 15px;
//}

.product-details{
  bottom:5rem;
  position: fixed;
  left: 0;
}

.product-details .product-img .item img{
  box-shadow: 7px 10px 1px $secondary !important;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
