<div class="container">
  <div class="row">
    <div class="col-md-12 text-center py-3"><h3>{{'_allFarmers' | translate}}</h3></div>
    <div class="col-md-4" *ngFor="let item of data">
      <mat-radio-button class="example-radio-button w-100" (click)="farmer_id = item.farmer_id"
                        [value]="item.farmer_id">
        {{item.title}}
      </mat-radio-button>
    </div>
    <div class="col-md-12 text-right py-3">
      <button class="btn btn-primary" (click)="selectCategory()">{{'_Done' | translate}}</button>
      <button class="btn btn-secondary" (click)="dialog.closeAll()">{{'_Close' | translate}}</button>
    </div>
  </div>
</div>
