<div class="container-fluid ">
  <div class="row">
    <div class="col-md-12 py-5 text-center top-title">
      <h3 class="text-uppercase font-weight-normal text-white">{{details?.name}}</h3>
    </div>
    <div class=" col-md-12 stepper sticker  mt-n2">
      <div class="w-25 bg-info float-right"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-5  content  position-relative">
    <div class="col-md-12 p-0 position-relative">
      <img [src]="restService.baseUrl + details?.image" class="w-100 cover " alt="">
      <div class="personal-img position-absolute">
        <img class="image-hover  img-round-square" [src]="details?.user?.profile? restService.baseUrl + details?.user?.profile:'assets/images/placeholder.png'" alt="">
      </div>
    </div>
    <div class="col-md-12 my-5">
      <mat-tab-group>
        <mat-tab label="{{'_Menu' | translate}}">
          <div class="row menu px-5 pb-4">
            <div class="col-md-5 mt-4" *ngFor="let item of details?.Menus">
              <div class="w-100  border-bottom border-primary">
                <h5 class="text-uppercase"> {{item?.name}}</h5>
              </div>
              <div class="d-flex justify-content-between" *ngFor="let meal of item.Meals">
                <div>{{meal.name}}</div>
                <div></div>
                <div>{{meal.price}} {{'_AED' | translate}}</div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="{{'_AboutKitchen' | translate}}">
          <div class="row  menu px-5 pb-4">
            <div class="col-md-12 mt-4 about">
              <div class="w-100  border-bottom ">
                <h5 class="text-uppercase">{{details?.name}}</h5>
              </div>
              <div class="w-100 py-4 border-bottom">
                {{details?.description}}
              </div>
              <div class="w-100 mt-4 d-flex justify-content-start flex-wrap">
                <div class="w-50 d-flex justify-content-start flex-wrap">
                  <img src="assets/images/svg/time.svg" class="" alt="Kiwi standing on oval">
                  <p class="mx-3">{{'_ServingTime' | translate}} <br> <span class="font-weight-bold px-0">{{details?.start_time}} {{'_To' | translate}} {{details?.start_time}}</span></p>
                </div>
                <div class="w-50 d-flex justify-content-start flex-wrap">
                  <img src="assets/images/svg/price.svg" alt="Kiwi standing on oval">
                  <p class="mx-3">{{'_DepandingOnOrderOr' | translate}}<br>
                    {{'_SelectedPackage' | translate}}</p>
                </div>
              </div>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="{{'_Reviews' | translate}}">
          <div class="row  menu px-5 pb-4">
            <div class="col-md-12 mt-4 ">
              <div class="d-flex justify-content-md-between flex-wrap">
                <div><h5 class="font-weight-normal">{{details?.name}} {{'_Reviews' | translate}} ({{details?.reviews.length}})</h5></div>
                <div class="mx-1">
                  <h5 class="font-weight-normal">
                    {{details?.final_rate}}
                    <i class="fa fa-star mr-1" [ngClass]="(details?.final_rate > 0 )? 'text-primary' : 'text-light' " ></i>
                    <i class="fa fa-star mr-1" [ngClass]="(details?.final_rate > 1 )? 'text-primary' : 'text-light' " ></i>
                    <i class="fa fa-star mr-1" [ngClass]="( details?.final_rate > 2)? 'text-primary' : 'text-light' " ></i>
                    <i class="fa fa-star mr-1" [ngClass]="( details?.final_rate > 3)? 'text-primary' : 'text-light' " ></i>
                    <i class="fa fa-star mr-1" [ngClass]="(details?.final_rate > 4)? 'text-primary' : 'text-light' "></i>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-md-12 comment  border pt-2 mb-3 pb-4" *ngFor="let item of details?.reviews">
              <div class="w-100 d-flex justify-content-md-between flex-wrap ">
                <div>
                  <i class="fa fa-star mr-1" [ngClass]="(item?.final_rate >
                  0)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="(item?.final_rate > 1 )? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="( item?.final_rate > 2)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="( item?.final_rate > 3)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="(item?.final_rate > 4)? 'text-primary' : 'text-light' "></i>
                  <span> {{item.user.first_name}} {{item.user.last_name}}</span>
                </div>
                <div>{{item.date | date: 'MMM d, y'}}</div>
              </div>
              <div class="w-100 mt-1">
              {{item.comment}}
              </div>
            </div>

            <div class="col-md-12 comment border py-3 mb-3 ">
              <div class="w-100 d-flex justify-content-md-between flex-wrap reviews">
                <div class=" text-center w-25 my-2 border-right">
                  {{details?.final_order_pakaging_rate}}
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_order_pakaging_rate > 0)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_order_pakaging_rate > 1 )? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="( details?.final_order_pakaging_rate > 2)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="( details?.final_order_pakaging_rate > 3)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_order_pakaging_rate > 4)? 'text-primary' : 'text-light' "></i>
                  <br>
                  <span>{{'_OrderPackaging' | translate}}</span>
                </div>
                <div class=" text-center w-25 my-2 border-right">
                  {{details?.final_value_rate}}
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_value_rate > 0)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_value_rate > 1 )? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="( details?.final_value_rate >2)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="( details?.final_value_rate > 3)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_value_rate > 4)? 'text-primary' : 'text-light' "></i>
                 <br>
                  <span> {{'_ValueForMoney' | translate}}</span>
                </div>
                <div class=" text-center w-25 my-2 border-right">
                  {{details?.final_delivery_rate}}
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_delivery_rate > 0)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_delivery_rate > 1 )? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="( details?.final_delivery_rate > 2)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="( details?.final_delivery_rate > 3)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_delivery_rate > 4)? 'text-primary' : 'text-light' "></i><br>
                  <span> {{'_DeliveryTime' | translate}}</span>
                </div>
                <div class=" text-center w-25 my-2 ">
                  {{details?.final_quality_rate}}
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_quality_rate > 0)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_quality_rate > 1 )? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="( details?.final_quality_rate > 2)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="( details?.final_quality_rate > 3)? 'text-primary' : 'text-light' " ></i>
                  <i class="fa fa-star mr-1" [ngClass]="(details?.final_quality_rate > 4)? 'text-primary' : 'text-light' "></i><br>
                  <span>{{'_QualityFood' | translate}}</span>
                </div>
              </div>


            </div>

          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="row menu-action w-100 px-3">
      <div class="col-md-6">
        <button style="cursor: pointer" class="text-uppercase text-white border-0 bg-success p-2 ml-5 mt-1" [routerLink]="'/meals/' + details?.kitchen_id">
          {{'_OrderNowFrom' | translate}} {{details?.name}}
        </button>
        <span style="cursor: pointer" class=" text-white bg-primary   "><i class="fa  fa-shopping-cart"
                                                                           aria-hidden="true"></i>
              </span>
      </div>
      <div class="col-md-6">
        <div class="social-container d-flex justify-content-end mr-5">
        <a class="text-uppercase m-3">{{'_Share' | translate}}</a>
        <ul class="social-icons">
          <li><share-button button="facebook" text="Share" [showText]="false"></share-button></li>
          <li> <share-button button="twitter" text="Tweet" [showText]="false"></share-button></li>
        </ul>
      </div>
      </div>
    </div>
    <div class="col-md-12 sticker  bg-primary position-relative">
    </div>
  </div>

</div>
