<div class="w-75 m-auto py-5 border border-light position-relative">
  <div class="login-logo bg-primary position-absolute rounded-circle text-center ">
    <i class="fa fa-user-o text-white"></i>
  </div>
  <form name="loginForm" [formGroup]="resetPasswordForm" class="px-5 my-3">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'_Password' | translate}}</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error>
        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
             class="text-danger">
          <div *ngIf="f.password.errors.required">
            {{'_PasswordRequired' | translate}}
          </div>
          <div
            *ngIf="f.password.errors.minlength || f.password.errors.maxLength"> {{'_PasswordValidation' | translate}}</div>
        </div>
      </mat-error>

    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'_ConfirmPassword' | translate}}</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error>
        <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)"
             class="text-danger">
          <div *ngIf="f.confirmPassword.errors.required">
            {{'_ConfirmPasswordRequired' | translate}}
          </div>
          <div *ngIf="f.confirmPassword.errors.mustMatch"> {{'_PasswordMustMutch' | translate}}</div>
        </div>
      </mat-error>

    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'_Verificationotp' | translate}}</mat-label>
      <input matInput type="text" formControlName="otp" maxlength="4">
      <mat-error>
        <div *ngIf="f.otp.invalid && (f.otp.dirty || f.otp.touched)">
          <div *ngIf="f.otp.errors.required" class="text-danger">
            {{'_otpRequired'| translate}}
          </div>
        </div>
      </mat-error>

    </mat-form-field>

    <button mat-raised-button color="accent" class="submit-button w-100 mb-3 py-2 text-uppercase" aria-label="LOG IN" (click)="onSubmit()"
            [disabled]="resetPasswordForm.invalid">
      {{'_ResetPassword' | translate}}
    </button>
  </form>

</div>
