<div class="container-fluid welcome">
  <div class="row position-relative">
    <span class="position-absolute close" (click)="dialog.closeAll()">X</span>

    <div class="col-md-6 text-center m-auto">
      <h5 class="text-secondary">{{'_WelcomeYourWebsite' | translate}}</h5>
      <p>{{'_WeInformThat' | translate}}</p>
       <p> {{'_Monday' | translate}} </p>
      <p>{{'_ShopOrderSafely' | translate}} </p>
      <p class="text-primary font-weight-bold">www.crowdmarket.ae</p>
      <p class="text-white bg-primary radius-15 m-auto phone"><i class="fa fa-whatsapp"> </i> 0528132016</p>
    </div>
    <div class="col-md-6 p-2">
      <img src="assets/images/welcome.jpg" class="w-100" alt="">
    </div>
  </div>
</div>
