@import "../../../_variables.scss";


.welcome .close{
  top: -1rem;
  right: -1rem;
  cursor: pointer;
  font-size: 15px;
}

.mobile a{
  font-size: 1.5rem;
}

.welcome{
  max-width: 33rem;

  .logo{
    width: 5rem;
    @include left(0);
  }

  .shop{
    font-size: 2.2rem;
  }

  .now{
    font-size: 1.5rem;
  }

  .drhm{
    margin-top: 2rem;
    img{
      width: 60%;
    }
  }
}

.web{
  background: url("../../../assets/images/bg-dialog.jpg");
}


