<app-homepage-slider [banner]="banners" ></app-homepage-slider>

<div class="container">
  <div class="row my-5">
    <div class="col-md-12 text-center  border-45  mb-3">
      <div class="w-25">
        <div class="input-group border border-45 ">
          <input (keyup)="filter($event.target.value)" class="form-control  border-0 border-45 "
                 placeholder="{{'_SearchFarmer' | translate}}">
          <div class="input-group-addon p-2"><i class="fa fa-search"></i></div>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="row"
         infiniteScroll
         [infiniteScrollDistance]="0"
         [infiniteScrollThrottle]="300"
         (scrolled)="farmer.length >= 12 && (pagination.page = pagination.page + 1); farmer.length >= 12 && getFarmers()">
    <div *ngFor="let item of allFarmer" [routerLink]="'/farmer/' + item.farmer_id"
         class="col-md-3 position-relative farmer mt-4 px-4"
         data-aos="fade-up"
         data-aos-anchor-placement="top-center"
         data-aos-delay="0"
         data-aos-duration="500"
         data-aos-easing="ease-in-out"
         data-aos-mirror="false"
         data-aos-offset="0"
         data-aos-once="true">
      <div>
        <div *ngIf="item.featured" class="featured position-absolute">
          <img src="assets/images/featured.png" class="w-100" alt="">
        </div>
        <div>
          <img  [src]="restService.baseUrl + item.image " alt="" class="border-25 w-100">
        </div>
      </div>
      <div class="mt-2">
        <h6>{{item.title}}</h6>
        <p class="text-primary font-weight-bold mb-1"><i aria-hidden="true" class="fa fa-location-arrow"></i>
          {{item.location_address}}</p>
        <div class="d-flex justify-content-between">
          <div class=" px-1  text-primary  ">
                        <i class="fa fa-star mr-1" [ngClass]="(item.final_rate > 0)? 'text-primary' : 'text-light' "></i>
            <i [ngClass]="(item.final_rate > 1 )? 'text-primary' : 'text-light' " class="fa fa-star mr-1"></i>
            <i [ngClass]="( item.final_rate > 2)? 'text-primary' : 'text-light' " class="fa fa-star mr-1"></i>
            <i [ngClass]="( item.final_rate > 3)? 'text-primary' : 'text-light' " class="fa fa-star mr-1"></i>
                        <i class="fa fa-star mr-1" [ngClass]="(item.final_rate > 4)? 'text-primary' : 'text-light' "></i>
          </div>
          <div class="font-weight-bold">{{item.final_rate}}/5</div>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
