<app-homepage-slider [banner]="banners" (search)="search($event)"></app-homepage-slider>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center  border-45  my-3">
      <div class="w-25">
        <div class="input-group border border-45 bg-light">
          <input class="form-control  border-0 border-45 "
                 placeholder="{{'_SearchFarmer' | translate}}">
          <div class="input-group-addon p-2"><i class="fa fa-search"></i></div>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="col-md-3 position-relative farmer mt-4 px-4" *ngFor="let item of allFarmer" [routerLink]="'farmer/' + item.farmer_id" >
      <div>
        <div class="featured position-absolute" >
          <img src="assets/images/featured.png" class="w-100" alt="">
        </div>
        <img src="assets/images/kitchen.jpg" class="border-25 w-100" alt="">
      </div>
      <div class="mt-2">
        <h6>{{item.title}}</h6>
        <p class="text-primary font-weight-bold mb-1">Dubai</p>
        <div class="d-flex justify-content-between">
          <div class=" px-1  text-primary  ">
                        <i class="fa fa-star mr-1" [ngClass]="(item.final_rate > 0)? 'text-primary' : 'text-light' "></i>
                        <i class="fa fa-star mr-1" [ngClass]="(item.final_rate >= 1 )? 'text-primary' : 'text-light' "></i>
                        <i class="fa fa-star mr-1" [ngClass]="( item.final_rate >= 2)? 'text-primary' : 'text-light' "></i>
                        <i class="fa fa-star mr-1" [ngClass]="( item.final_rate >= 3)? 'text-primary' : 'text-light' "></i>
                        <i class="fa fa-star mr-1" [ngClass]="(item.final_rate > 4)? 'text-primary' : 'text-light' "></i>
          </div>
          <div class="font-weight-bold">4.5/5</div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div *ngIf="kitchens.kitchens.length >= 12 && pagination.id != 0 "-->
  <!--       class="search-results"-->
  <!--       infiniteScroll-->
  <!--       [infiniteScrollDistance]="2"-->
  <!--       [infiniteScrollThrottle]="50"-->
  <!--       (scrolled)="pagination.page = pagination.page + 1  ;getKitchens()"-->
  <!--  ></div>-->
  <!--  <div *ngIf="kitchens.kitchens.length >= 12 && pagination.id == 0 "-->
  <!--       class="search-results"-->
  <!--       infiniteScroll-->
  <!--       [infiniteScrollDistance]="2"-->
  <!--       [infiniteScrollThrottle]="50"-->
  <!--       (scrolled)="pagination.page = pagination.page + 1  ;getKitchensByLocations()"-->
  <!--  ></div>-->
</div>
