@font-face {
  font-family: 'CityCenter';
  src: url('fonts/CCSSTwo-CityCenter-Book.ttf');
  src: url('fonts/CCSSTwo-CityCenter-Book.ttf') format('woff2'),
  url('fonts/CCSSTwo-CityCenter-Book.ttf') format('woff')
}

