@font-face {
  font-family: 'Dubai Regular';
  src: url('fonts/Montserrat-Regular.otf');
  src: url('fonts/Montserrat-Regular.otf') format('woff2'),
  url('fonts/Montserrat-Regular.otf') format('woff')
}

