/* Remember that

$grid-breakpoints: (
  xxs: 0,
  xs: 376px,
  sm: 576px,
  md: 800px,
  lg: 1200px,
  xl: 1360px
) !default;

*/

@include media-breakpoint-between(lg, xl) { // @media (min-width: 1200px)

}

@include media-breakpoint-between(md, lg) { // @media (min-width: 800px) and (max-width: 1360px)

}

@include media-breakpoint-between(sm, md) { // @media (min-width: 576px) and (max-width: 1200px)

}

@include media-breakpoint-down(lg) { // @media (max-width: 1360px)

}

@include media-breakpoint-down(md) { // @media (max-width: 1200px)
  .flex-lg-center {
    display: flex;
    justify-content: flex-end !important;
  }
  .hide-md {
    opacity: 0 !important;
    display: none !important;
  }
  .show-md {
    opacity: 1 !important;
    display: block !important;
  }
}

@include media-breakpoint-down(sm) { // @media (max-width: 800px)
  .fix-header {
    position: initial !important;
  }
  .mobile-center{
    justify-content: center !important;
    text-align: center !important;
  }
  .hide-sm {
    opacity: 0 !important;
    display: none !important;
  }
}


@include media-breakpoint-down(xs) { // @media (max-width: 576px)
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
  .info-mobile {
    flex-direction: column;
  }
  .d-none-mobile {
    display: none !important;
  }
  .main ngu-item {
    margin: 5px;
  }
  .copy-right{
    width: 100% !important;
    border-top-right-radius: 60px !important;
    border-top-left-radius: 60px !important;
  }
}

@include media-breakpoint-down(xxs) { // @media (max-width: 376px)

}


@include media-breakpoint-up(xl) { // @media (min-width: 1360px)

}

@include media-breakpoint-up(md) { // @media (min-width: 1200px)

}

@include media-breakpoint-up(sm) { // @media (min-width: 800px)

}
