@import "../../_variables.scss";

/* -------------- carousel------------------ */

::ng-deep .carousel-caption {
  position: absolute;
  right: 0;
  top: 30%;
  bottom: 20px;
  left: -47%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #464141;
  text-align: center;
}


mdb-card-body a, mdb-card-body span {
  font-size: 1.3rem;
}

.card {
  box-shadow: none;
}

.slider-body {
  text-align: left;
  //height: 50%;
  width: 68%;
  padding: 3rem;
  border: 2px solid $info;
  padding-left: 42% !important;
}

::ng-deep .carousel .carousel-indicators li {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  cursor: pointer;
  background-color: $primary;
  text-indent: unset;
  text-align: center;
  border: 1px solid $secondary !important;
  margin: 1rem 0 !important;

}

::ng-deep .carousel-indicators span {
  font-size: 1.1rem;
  display: flex;
  margin-top: 8px !important;
  justify-content: center;
}


::ng-deep .carousel-indicators {
  display: block;
  position: absolute;
  bottom: 34%;
  left: -8%;
  z-index: 15;
}

::ng-deep .carousel-indicators {
  flex-direction: column
}

::ng-deep .carousel .carousel-control-prev-icon {
  transform: translate(-50%, 0) rotate(90deg);
}

::ng-deep .carousel .carousel-control-next-icon {

  transform: translate(-50%, 0) rotate(90deg);
}


::ng-deep .carousel-control-prev {
  left: 40px;
  top: -180px;
}


::ng-deep .carousel-control-next {
  left: 36px;
  top: 471px;
}


::ng-deep .active span {
  color: #fff;
}


/* -------------- card kitchen------------------ */
::ng-deep .btn-info:hover {
  background: $primary !important;
}

.card-img-flag {
  right: 0;
  border: 2px solid white;
  opacity: 0;
  width: 4rem;
  z-index: 10;
  transform: translate(100%, 0%);
  transition: all 0.8s ease;
}


::ng-deep .card:hover .card-img-flag {
  opacity: 1 !important;
  right: 0;
  z-index: 20;
  transform: translate(0%, 0%);
  transition: all 1s ease;

}

::ng-deep .card:hover img {
  -webkit-transform: none;
  transform: none;
}

::ng-deep mdb-card-img:hover {
  -webkit-filter: sepia(50%);
}

::ng-deep mdb-card .btn-info:hover {
  color: white !important;
}


.rate {
  bottom: 20px;
  opacity: 0;

}

.card:hover .rate {
  bottom: 80px;
  right: 25px;
  opacity: 1;
  z-index: 20;
  transform: translateY(40%);
  transition: all 0.8s ease;
  place-items: flex-end;
}

.stars {
  padding: 3px;
  border: 1px solid $primary;
  border-radius: 30px;

}

/* -------------- stepper------------------ */

.bg-image {
  background-image: url("../../assets/images/background.jpg");
}


::ng-deep .mat-step-label {
  color: white !important;
}


::ng-deep .mat-stepper-horizontal-line {
  border: 1px dashed #fff !important;
}

::ng-deep .mat-step-header .mat-step-icon {
  border: 1px solid white;
}

::ng-deep
.mat-step-header .mat-step-icon-selected {
  background: $primary !important;
}

mat-horizontal-stepper button:hover {
  background-image: url("../../assets/images/flag.PNG");
}


::ng-deep .mat-stepper-vertical, .mat-stepper-horizontal {
  font-family: Dubai Regular, "Helvetica Neue", sans-serif;
}

::ng-deep .mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: Dubai Regular, "Helvetica Neue", sans-serif;

}


/* --------------card meal------------------ */


.subscribe-bg {
  padding: 3rem;
  top: 3px;
  left: 25px;
  z-index: -1;
  width: 85%;
  height: 85%;
}

.location {
  top: 15%;
  left: 20%;
  z-index: 10;
}




.close{
  right: 10rem;
  top: 0.8rem;
  cursor: pointer !important;
}

.crocky{
  bottom :0
}

.summary-offer {
  padding: 0 6rem ;
}

.line{
  left: -20rem;
  top: 9rem;
}
