<app-homepage-slider></app-homepage-slider>

<div class="products">
    <app-products-slider [title]="'BOXES'"></app-products-slider>

    <app-products-slider [title]="'VEGETABLES'" [background]="true"></app-products-slider>
</div>

<div class="join-us">
    <div class="bg-join">
       <div class="py-5">
           <div class="py-4 position-relative">
               <img src="assets/images/kitchen.PNG" class="img1" alt="">
               <div class="provider">
                   <div class="act">
                       <h1>Service Provider</h1>
                       <button>Join Us</button>
                   </div>
               </div>
           </div>
       </div>
    </div>

</div>
