@import "../../_variables.scss";

.active-option , .list:hover{
  background: $warning;
}


.bg-gray{
  background: $gray;
}



.bg-light{
   background: #e8e3e3 !important;
 }

.account a:hover{
  color: $black !important;
}

.c-icon{
  width: 1.2rem;
  margin-right: 1rem;
}
