<app-homepage-slider [images]="banners" ></app-homepage-slider>

<div class="container account text-left">
  <div class="row   py-5">
<!--    <div class="col-md-12 py-5">-->
      <div class="col-md-2 p-0">
        <div class="bg-secondary d-flex flex-column  bg-light rounded account-sidebar">
          <div class="py-4 px-3 font-weight-bold bg-gray rounded text-white account-sidebar-title" ><a>{{'_MyAccount' | translate}}</a>
          </div>
          <div class="p-3 list font-weight-bold" (click)="appService.active = 1" routerLink="profile"  [ngClass]="appService.active==1? 'active-option': ''"><a
           ><img class="c-icon" *ngIf="appService.currentLanguage == 'en'"
                 src="assets/images/sheet/c-title-en.png" alt="">
            <img class="c-icon" *ngIf="appService.currentLanguage == 'ar'"
                 src="assets/images/sheet/c-title-ar.png" alt="">{{'_MyProfile' | translate}}</a>
          </div>
          <div class="p-3 list font-weight-bold" (click)="appService.active = 2"  [ngClass]="appService.active==2? 'active-option': ''" routerLink="orders"><a
           ><img class="c-icon" *ngIf="appService.currentLanguage == 'en'"
                 src="assets/images/sheet/c-title-en.png" alt="">
            <img class="c-icon" *ngIf="appService.currentLanguage == 'ar'"
                 src="assets/images/sheet/c-title-ar.png" alt="">{{'_MyOrders' | translate}}</a>
          </div>
          <div class="p-3 list font-weight-bold" (click)="appService.active = 3" [ngClass]="appService.active==3? 'active-option': ''" routerLink="favourites">
            <a ><img class="c-icon" *ngIf="appService.currentLanguage == 'en'"
                     src="assets/images/sheet/c-title-en.png" alt="">
              <img class="c-icon" *ngIf="appService.currentLanguage == 'ar'"
                   src="assets/images/sheet/c-title-ar.png" alt="">{{'_MyFavourites' | translate}}</a></div>

          <div class="p-3 list font-weight-bold" (click)="appService.active = 5" [ngClass]="appService.active==5? 'active-option': ''" routerLink="address"><a
            ><img class="c-icon" *ngIf="appService.currentLanguage == 'en'"
                  src="assets/images/sheet/c-title-en.png" alt="">
            <img class="c-icon" *ngIf="appService.currentLanguage == 'ar'"
                 src="assets/images/sheet/c-title-ar.png" alt="">{{'_MyAddress' | translate}}</a>
          </div>
        </div>
      </div>
        <div class="col-md-10 p-0 h-100">
          <router-outlet></router-outlet>
        </div>
<!--    </div>-->
  </div>
</div>
