<div class="container-fluid  ">
  <div class="row bg ">
    <div class="col-md-12 m-auto text-center">
      <h3 class="text-uppercase font-weight-normal text-white h-100">{{'_MyAccount' | translate}}</h3>
    </div>
  </div>
  <div class=" col-md-12 stepper sticker  mt-n2">
    <div class="w-25 bg-info float-right"></div>
  </div>
</div>
<div class="container ">
  <div class="row w-100  py-5">
<!--    <div class="col-md-12 py-5">-->
      <div class="col-md-2 p-0">
        <div class="bg-secondary d-flex flex-column p-4">
          <div class="p-3 text-white" (click)="active = 1" routerLink="profile"><a
            [ngClass]="active==1? 'active-option': ''">{{'_MyProfile' | translate}}</a>
          </div>
          <div class="p-3 text-white" (click)="active = 2" routerLink="orders"><a
            [ngClass]="active==2? 'active-option': ''">{{'_MyOrders' | translate}}</a>
          </div>
          <div class="p-3 text-white" (click)="active = 3" routerLink="favourites">
            <a [ngClass]="active==3? 'active-option': ''">{{'_MyFavourites' | translate}}</a></div>
          <div class="p-3 text-white" (click)="active = 4" routerLink="banking-accounts">
            <a [ngClass]="active==4? 'active-option': ''">{{'_SavedCards' | translate}}</a></div>
          <div class="p-3 text-white" (click)="active = 5" routerLink="address"><a
            [ngClass]="active==5? 'active-option': ''">{{'_MyAddress' | translate}}</a>
          </div>
        </div>
      </div>
        <div class="col-md-10 p-0 h-100">
          <router-outlet></router-outlet>
        </div>
<!--    </div>-->
  </div>
</div>
