<app-homepage-slider [banner]="banners" (search)="search($event)"></app-homepage-slider>

<div class="container account">
  <div class="row w-100  py-5">
<!--    <div class="col-md-12 py-5">-->
      <div class="col-md-2 p-0">
        <div class="bg-secondary d-flex flex-column  bg-light rounded">
          <div class="py-4 px-3 font-weight-bold bg-gray rounded text-white" ><a>{{'_MyAccount' | translate}}</a>
          </div>
          <div class="p-3 list font-weight-bold" (click)="active = 1" routerLink="profile"  [ngClass]="active==1? 'active-option': ''"><a
           ><img class="c-title" *ngIf="appService.currentLanguage == 'en'"
                 src="assets/images/sheet/c-title-en.png" alt="">
            <img class="c-title" *ngIf="appService.currentLanguage == 'ar'"
                 src="assets/images/sheet/c-title-ar.png" alt="">{{'_MyProfile' | translate}}</a>
          </div>
          <div class="p-3 list font-weight-bold" (click)="active = 2"  [ngClass]="active==2? 'active-option': ''" routerLink="orders"><a
           ><img class="c-title" *ngIf="appService.currentLanguage == 'en'"
                 src="assets/images/sheet/c-title-en.png" alt="">
            <img class="c-title" *ngIf="appService.currentLanguage == 'ar'"
                 src="assets/images/sheet/c-title-ar.png" alt="">{{'_MyOrders' | translate}}</a>
          </div>
          <div class="p-3 list font-weight-bold" (click)="active = 3" [ngClass]="active==3? 'active-option': ''" routerLink="favourites">
            <a ><img class="c-title" *ngIf="appService.currentLanguage == 'en'"
                     src="assets/images/sheet/c-title-en.png" alt="">
              <img class="c-title" *ngIf="appService.currentLanguage == 'ar'"
                   src="assets/images/sheet/c-title-ar.png" alt="">{{'_MyFavourites' | translate}}</a></div>

          <div class="p-3 list font-weight-bold" (click)="active = 5" [ngClass]="active==5? 'active-option': ''" routerLink="address"><a
            ><img class="c-title" *ngIf="appService.currentLanguage == 'en'"
                  src="assets/images/sheet/c-title-en.png" alt="">
            <img class="c-title" *ngIf="appService.currentLanguage == 'ar'"
                 src="assets/images/sheet/c-title-ar.png" alt="">{{'_MyAddress' | translate}}</a>
          </div>
        </div>
      </div>
        <div class="col-md-10 p-0 h-100">
          <router-outlet></router-outlet>
        </div>
<!--    </div>-->
  </div>
</div>
