<nav class="navbar navbar-expand-md">
    <a class="navbar-brand mb-2 show-md d-none">
        <img src="assets/images/logo.png" alt="" width="65px">
    </a>
    <button class="navbar-toggler bg-light mb-2" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon d-flex justify-content-center align-items-center fa fa-list-ul"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto align-items-center">
            <li class="nav-item" routerLink="/home">
                <div class="position-relative d-inline-block" routerLink="/home">
                    <img src="assets/images/leafe.png" alt="" class="leafe">
                    <a class="nav-link">{{'_Home' | translate}}</a>
                    <img class="c-title-h" *ngIf="_appService.currentLanguage == 'en'"
                         src="assets/images/sheet/c-title-en.png" alt="">
                    <img class="c-title-h" *ngIf="_appService.currentLanguage == 'ar'"
                         src="assets/images/sheet/c-title-ar.png" alt="">
                </div>
            </li>
            <li class="ml-4 hide-sm">|</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{'_Products' | translate}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" *ngFor="let item of categories"
                       [routerLink]="'/products/' + item.category_id">
                        <img [src]="restService.baseUrl + item.image" class="mx-2 img-item" alt="">
                        {{item.name}}
                    </a>
                </div>
            </li>
            <li class="mx-2 hide-sm">|</li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about-us">{{'_AboutUs' | translate}}</a>
            </li>
            <li class="mx-2 hide-sm">|</li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-us">{{'_ContactUs' | translate}}</a>
            </li>
        </ul>
    </div>
</nav>
