.close-button {
  right: -1px;
  background: black;
  color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  top: -12px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  box-shadow: 2px 0px 3px 1px #797676;
  cursor: pointer;
}

.address span{
  font-size: 0.8rem;
}

.light{
  background: #f4f5f6 !important;

}

.add-new-address{
  display: flex;
  align-items: center;
  height: 100%;

}

