<div class="container">
  <div class="row">
    <div class="col">
      <div class="">
        <div class="container-fluid">
          <div class="row mt-3">
            <div class="col-md-4 d-flex rounded  address mb-3" *ngFor="let item of address">
              <div class="card card-body light p-0 border-0 flex-fill">
                <div class="bg-dark p-2">
                  <div class="text-right ">
                    <i class="fa fa-pencil text-white mx-1" (click)="openEditAddressDialog(item)"></i>
                    <i class="fa fa-trash-o text-white  mx-1" (click)="removeAddress(item)"></i>
                  </div>
                  <div class="text-center text-white  p-2">
                    <h6 *ngIf="item.type == 1">{{'_Apartment' | translate}}</h6>
                    <h6 *ngIf="item.type == 2">{{'_House' | translate}}</h6>
                    <h6 *ngIf="item.type == 3">{{'_Office' | translate}}</h6>
                  </div>
                </div>
                <div class="">
                  <div class="p-2 text-uppercase font-weight-bold"><span class="text-primary ">{{item.city.name}}</span>
                  </div>
                  <div class=" py-2 px-3"><span>{{item.area}} , {{item.street}} , {{item.building}} , {{item.floor}}
                    , {{item.apartment}}</span>
                  </div>
                  <div class="py-2 px-3"><span>{{item.phone}}</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 d-flex rounded address text-center mb-3  ">
              <div class="card card-body bg-dark p-0 border-0 flex-fill py-5">
                <div class=" add-new-address">
                  <div class="w-100">
                    <div class="w-100 text-white">{{'_ClickToAdd' | translate}}</div>
                    <div class="w-100">
                      <button
                        class="btn btn-secondary text-white font-weight-bold border-45 mt-2"
                        (click)="openAddressDialog()">{{'_AddNewAddress' | translate}}</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
